$space-large: 2.5rem;
$title-color: #555;

.page-title {
  margin-top: $space-large;
  margin-bottom: $space-large;
  color: $title-color;
}

.main-form {
  text-align: center;
}

.loading-message {
  color: red;
}

.weather-message {
  color: #2199e8;
}

input[type=search] {
  box-shadow: none;
}

select {
  width: 40%;
  color: green;
}
